<h1>form dropdown</h1>
<pre data-sly-test="${properties.form == 'phonenumber' && properties.pnumber}">Phone Number: ${properties.pnumber}</pre>
<pre data-sly-test="${properties.form == 'address' && properties.street}">Street: ${properties.street}</pre>
<pre data-sly-test="${properties.form == 'address' && properties.city}">City: ${properties.city}</pre>
<pre data-sly-test="${properties.form == 'address' && properties.state}">State: ${properties.state}</pre>
<pre data-sly-test="${properties.form == 'gender' && properties.gender}">Gender: ${properties.gender}</pre>
<pre data-sly-test="${properties.form == 'language' && properties.cpp}">Language: ${properties.cpp}</pre>
<pre data-sly-test="${properties.form == 'language' && properties.java}">Language: ${properties.java}</pre>
<pre data-sly-test="${properties.form == 'language' && properties.js}">Language: ${properties.js}</pre>
<pre data-sly-test="${properties.form == 'language' && properties.python}">Language: ${properties.python}</pre>